body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  /*used to created diagonal gradient*/
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #c9de96),
    color-stop(30%, #8ab66b),
    color-stop(100%, #398235)
  );
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-top: 0;
}

.options {
  display: flex;
  width: 800px;
  justify-content: space-around;
}

/****************************button styles*******************************/
button {
  font-size: 1.1rem;
  padding: 10px 25px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: aqua;
}

button:hover {
  background-color: lightgreen;
}

button:active {
  background-color: rgb(107, 191, 107);
}

/********************************************************************/
